@{
    ViewData["Title"] = "Student";
}
<style>
    .*{
        margin:0px;
    }
    .answerbutton{
        width:100%;
        height:100%;
        font-size:200px;
        font-weight:900;
        color:white;
        border:0px solid #EEEEEE
    }
    .answerbutton:hover{
        filter: brightness(85%);
    }
    .answerbutton:active{
        filter: brightness(60%);
    }
    .fullscreendiv{
        padding:30px;
    }
    .smallstatusicons {
        height: 50px;
        width: 50px;
        background-color:lightblue;
        border-radius: 50%;
        display: inline-block;
        border:4px solid gray
    }
    .body{
        padding:0;
        margin:0;
    }
    .userinput {
        background-color:#EEEEEE;
        color:gray;
        border:none;
        border:4px solid gray;
        border-radius:10px;
        font-size:30px;
        padding:10px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
    }
        .userinput:focus {
            border: 4px solid #03b1fc;
            color: #03b1fc;
            transition: 0.5s;
        }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#03b1fc;border:none">
    <div class="container" style="text-align:center">
        <span style="font-weight:800;text-align:left;color:white;padding:10px;font-size:40px;float:left">Luiz</span>
        <span id="currentscore" style="background-color:black;color:white;padding:5px;font-size:30px;font-weight:600;border-radius:4px;float:right;margin-top:10px">0000000</span>
        <span id="currentstreak" style="background-color:#035afc;color:white;padding:5px;font-size:30px;font-weight:600;border-radius:4px;float:right;margin-top:10px;margin-right:5px">0</span>
        <span id="powerorbs" style="background-color:#035afc;color:white;padding:5px;font-size:30px;font-weight:600;border-radius:4px;float:right;margin-top:10px;margin-right:5px">0</span>
    </div>
</nav>
<body style="background-color:#EEEEEE" id="answerstatus">
    <div class="fullscreendiv" id="fullscreenthis" style="margin:0">
        <div id="question" hidden style="margin:0">
            <table style="width:100%;height:80vh">
                <tr>
                    <td style="width:25%;padding-bottom:5px">
                        <input type="button" class="answer answerbutton" id="a1" value="1" style="background-color:#42c5f5" />
                    </td>
                    <td style="width:25%;padding-left:5px;padding-bottom:5px">
                        <input type="button" class="answer answerbutton" id="a2" value="2" style="background-color:#f54284" />
                    </td>
                </tr>
                <tr>
                    <td style="width:25%">
                        <input type="button" class="answer answerbutton" id="a3" value="3" style="background-color:#3ce663" />
                    </td>
                    <td style="width:25%;padding-left:5px">
                        <input type="button" class="answer answerbutton" id="a4" value="4" style="background-color:#e6c73c" />
                    </td>
                </tr>
            </table>
            <div style="margin-top:15px;text-align:center" id="userinfo">
                <span >0008888</span>
            </div>
        </div>
        <div id="login" style="margin-top:27vh;text-align:center">
            <input type="text" placeholder="Username" id="usernametouse" class="userinput" style="margin-bottom:10px" />
            <input type="text" placeholder="GameKey" id="gamekeytouse" class="userinput" style="margin-bottom:10px" />
            <br />
            <input type="button" value="Submit" id="logintoserver" class="btn btn-success" style="font-size:20px;border:none;background-color:#035afc" disabled />
        </div>
        <div id="waitingothers" style="margin:0" hidden>
            
        </div>
        <div id="youranswer" style="margin:0" hidden>
            w
        </div>
    

    </div>  
</body>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('#toggle_fullscreen').on('click', function () {
        // if already full screen; exit
        // else go fullscreen
        if (
            document.fullscreenElement ||
            document.webkitFullscreenElement ||
            document.mozFullScreenElement ||
            document.msFullscreenElement
        ) {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            }
        } else {
            element = $('#fullscreenthis').get(0);
            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
            
        }
    });
</script>
<script>
    
    function UUIDGenerate() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
            return v.toString(16);
        });
    }
    var quiz = new signalR.HubConnectionBuilder().withUrl("/quizHub").build();
    var userID = "";
    var userName = "anon";
    var gameKey = "";
    var currentscore = 0;
    var currentstreak = 0;
    var correct = false;
    currentanswer = 0;
    $(document).ready(function () {
        userID = UUIDGenerate();
    });
    quiz.on("toggleScore", function (ReviewScore) {

    });
    quiz.on("signedIn", function () {
        $("#question").attr("hidden", false);
        $("#login").attr("hidden", true);
    });
    quiz.on("answerStatus", function (Score, Correct, Streak) {
        
        if (Correct == true) {
            correct = true;
        }
        
    });
    quiz.on("clientScoreSend", function (Score, Streak) {
        currentscore = Score;
        currentstreak = Streak;
        $("#currentstreak").html(currentstreak);
        $("#currentscore").html(currentscore);
        if (correct == true) {
            $("#youranswer").css("background-color", "MediumSeaGreen")
            $("#answerstatus").css("background-color", "MediumSeaGreen")
        } else {
            $("#youranswer").css("background-color", "Tomato")
            $("#answerstatus").css("background-color", "Tomato")
        }
        correct = false;
        $("#question").attr("hidden", true);
        $("#login").attr("hidden", true);
        $("#waitingothers").attr("hidden", true);
        $("#youranswer").attr("hidden", false);
    });
    quiz.on("nextQuestion", function () {
        $("#question").attr("hidden", false);
        $("#login").attr("hidden", true);
        $("#waitingothers").attr("hidden", true);
        $("#youranswer").attr("hidden", true);
        $("#answerstatus").css("background-color", "#EEEEEE");
    });
    quiz.on("clientPower", function (NumPoints) {
        $("#powerorbs").html(NumPoints);
    });
    quiz.start().then(function () {
        $("#usernametouse").on("change", function () {
            if ($("#usernametouse").val != "" && $("#gamekeytouse").val != "") {
                $("#logintoserver").attr("disabled", false);
            } else {
                $("#logintoserver").attr("disabled", true);
            }
        });
        $("#logintoserver").click(function () {
            userName = $("#usernametouse").val();
            gameKey = $("#gamekeytouse").val();
            quiz.invoke("connectToServer", userID, userName, true, gameKey)
        }); 
        $(".answerbutton").click(function () {
            
            currentanswer = $(this).val();
            quiz.invoke("answerQuestion", userID, currentanswer);
            $("#question").attr("hidden", true);
            $("#login").attr("hidden", true);
            $("#waitingothers").attr("hidden", false);
        });
    });
</script>